/* Cards */

.card {
  border: 0;
  @include border-radius(2px);
  .card-body {
    padding: $card-padding-y $card-padding-x;
    + .card-body {
      padding-top: 0;
    }
  }
  &.card-outline-success{
		border: 1px solid theme-color("success");
	}
	&.card-outline-primary{
		border: 1px solid theme-color("primary");
	}
	&.card-outline-warning{
		border: 1px solid theme-color("warning");
	}
	&.card-outline-danger{
		border: 1px solid theme-color("danger");
	}
	&.card-rounded{
		@include border-radius(5px);
	}

  &.card-faded {
    background: #b5b0b2;
    border-color: #b5b0b2;
  }
  &.card-circle-progress {
    color: $white;
    text-align: center;
  }
  &.card-weather {
    .weather-date-location {
      padding: 1rem 0;
      border-bottom: 2px solid color(white);
    }
    .weather-data {
      padding: 2rem 0 4.75rem;
      i {
        font-size: 5.313rem;
        line-height: 1;
      }
    }
    .weakly-weather {
      .weakly-weather-item {
        flex: 0 0 14.28%;
        border-right: 1px solid $border-color;
        padding: 1rem;
        text-align: center;
        i {
          font-size: 1.563rem;
        }
        &:last-child {
          border-right: 0;
        }
        .symbol {
          color: $text-muted;
          font-size: 1.875rem;
        }
      }
    }
  }
}

@each $color, $value in $theme-colors {
  .card-inverse-#{$color} {
    @include card-inverse-variant(rgba(theme-color($color), .2), theme-color-level($color, 1), theme-color-level($color, 3));
  }
}
