/* Fonts */

//Poppins
@font-face {
  font-family: 'poppins-light';
  src: url('../fonts/Poppins/Poppins-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'poppins-regular';
  src: url('../fonts/Poppins/Poppins-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'poppins-medium';
  src: url('../fonts/Poppins/Poppins-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'poppins-semibold';
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'poppins-bold';
  src: url('../fonts/Poppins/Poppins-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}


